
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Layout/IndexLayout.cshtml";
}

<div class="headingmenu">
    <h1>Giới thiệu</h1>
    <p><a href="gioithieu.html">home >></a> shop </p>
</div>

<section class="about">
    <div class="image">
        <img src="~/Content/img/about1.png" alt="" />
    </div>
    <div class="content">
        <span>Chào mừng đến với cửa hàng của chúng tôi</span>
        <h3>Thịt Gà - Thịt Bò - Thịt Heo Tươi Sạch Mỗi Ngày</h3>
        <p>
            Chúng tôi chuyên cung cấp các loại thịt gà, thịt bò và thịt heo tươi ngon, được tuyển chọn kỹ lưỡng từ những trang trại uy tín.
        </p>
        <p>
            Thịt gà mềm, thơm, giàu dinh dưỡng – phù hợp cho mọi bữa ăn gia đình.</br>

            Thịt bò đỏ tươi, săn chắc – lý tưởng cho các món nướng, lẩu và xào.</br>

            Thịt heo sạch, béo ngậy – dễ chế biến, phù hợp với mọi khẩu vị.</br>
        </p>
        <a href="/Home/Menu" class="btn">Xem Thêm</a>
    </div>
</section>

